@charset "UTF-8";

body {font-family: georgia;}

h1 { font-size: 48px; text-align:center; font-variant: small-caps;}

#centrecol {width: 60%; margin-left:15%; margin-right:70px;}


#rightnav {display: block;  width: 20%; text-align:right; float:right;padding-right: 30px;}

#rightnav a { text-decoration:none;}

#rightnav a:hover { text-decoration:underline;}



#lupdate {color: gray; font-size:50%; text-align:center;}

#main a:link {color: black;}

#main a:hover {color: blue;}

#main a:link .ff {color: #E0E0E0;}

#main a:hover .ff {color: blue;}


#main a {text-decoration: none;}

.sect h1 {font-size: 24px; text-align:left; margin-top: 50px; margin-bottom:10px;}

